#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  input {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .material {
    font-size: 2rem;
  }

  .showObject {
    background-color: #111;
    text-align: left;
    padding: 1rem;
  }
}